@import 'assets/_mixins';
@import 'assets/_placeholders'; 
@import 'assets/_variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    @extend %reset;
}

body{
    @include background(url("./images/fond.jpg"),cover,no-repeat);
}

//---------------------------------------------HEADER------------------------------------------------------------------------------//

header{
    @include display(flex, column,"",center);
    margin-top:7vw;
}

.input{
    @include wihe (85%, 1.3em);
    font-size:1.3em;
    text-align: center;
    color: white;
    border:none;
    margin-bottom: 1em;
    padding: 0.3em;
    background-color: rgb(255, 255, 255,0.25);
    &:focus {
        opacity:1;    
        color: $txt-darkblue;
        background-color: rgb(255, 255, 255,1);
}}

.button{
    @include wihe (8em, "");
    background-color: $blue;
    border:none;
    font-size: 1em;
    color:white;
    padding: 0.5em;
    border-radius: 1.7em;
    &:hover{
        cursor: pointer;    
        background-color: white;
        color:$blue;
}}

.city{
    font-family: 'Roboto Condensed', sans-serif;
    margin:5%;
    text-transform:uppercase;
    font-size: 3em;
    color: white;
}

//---------------------------------------------Card------------------------------------------------------------------------------//

.cards{
    @include display (none, column,center, center);
}

.card{
    @include display (flex, row,space-around, center);
    @include wihe (90%, 7em);
    @extend %blur;
    margin-bottom: 3%;
    font-family: 'Raleway', sans-serif;
    border-radius:1em;
    color:white;
    padding:3%;
}

.img{
    @include wihe (7.1em, "");
}

.dt{
    @include wihe (8em, "");
    font-size:1.3em;
}

.degre{
    font-size:3em;
}

//---------------------------------------------MQ------------------------------------------------------------------------------//

@media screen and (min-width: 1023px) {

.cards{
    flex-direction: row;
}
    
.card{
    @include display (flex, column,center, center);
    @include wihe (15%, auto);
    border-radius:1em;
    color:white;
    padding:1%;
    margin-right:2%;
}

.dt{
    @include display (flex, column,"", center);
}}