@import 'assets/_mixins';
// pour importer un élément: @include absolute-el()
@import 'assets/_placeholders'; 
// pour importer un élément: @extend %lenomdetonplaceholder
@import 'assets/_variables';
// pour importer un élément: $exemplecouleur

body{
    margin:0;
    padding:0;
    background-color: $fond-clair;
    color: $txt-darkblue;
}

//---------------------------------------------HEADER------------------------------------------------------------------------------//

header{
    margin:7vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 85%;
    font-size:0.9em;
    text-align: center;
    color: $txt-darkblue;
    border:none;
    margin-bottom: 1em;
    padding: 0.6em;
}

#button{
    background-color: $blue;
    width:8em;
    color:white;
    padding: 0.5em;
    border-radius: 1.7em;
    cursor: pointer;
}

#city{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;

}

//---------------------------------------------Card------------------------------------------------------------------------------//

main{
    display:flex;
    justify-content: center;
}

#cards{
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    padding: 5%;
    width: 85%;
    height: 5em;
    background-color: $blue;
    border-radius:1em;
    color: white;
}
#day01{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/*#icon01{
    background-color: aqua;
}*/

.degre{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4em;
    margin-left: 0.9em;
}
