@import 'assets/_mixins';
// pour importer un élément: @include absolute-el()
@import 'assets/_placeholders'; 
// pour importer un élément: @extend %lenomdetonplaceholder
@import 'assets/_variables';
// pour importer un élément: $exemplecouleur

body{
    margin:0;
    padding:0;
    //background-color: $fond-clair;
    background-image: url("./images/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

//---------------------------------------------HEADER------------------------------------------------------------------------------//

header{
    margin-top:7vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 85%;
    height: 1.3em;
    font-size:1.3em;
    text-align: center;
    color: rgb(255, 255, 255);
    border:none;
    margin-bottom: 1em;
    padding: 0.3em;
    background-color: rgb(255, 255, 255,0.25);
    &:focus {
        opacity:1;    
        color: $txt-darkblue;
        background-color: rgb(255, 255, 255,1);

    }
}

#button{
    background-color: $blue;
    border:none;
    font-size: 1em;
    width:8em;
    color:white;
    padding: 0.5em;
    border-radius: 1.7em;
    &:hover{
        cursor: pointer;    
        background-color: white;
        color:$blue;
    }
}

#city{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform:uppercase;
    font-size: 4em;
    color: white;
}

//---------------------------------------------Card------------------------------------------------------------------------------//

.cards{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:90%;
    margin-bottom: 3%;
    font-family: 'Raleway', sans-serif;
    height: 7em;
    border-radius:1em;
    color:white;
    padding:3%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
}

.img{
    width:7.1em;
}

.dt{
    font-size:1.3em;
    width: 8em;

}

.degre{
    font-size:3em;
}
