//bouts de code réétulisable avec des paramètres//
//Pour importer : @import './_mixins';//

//pour le mettre dans scss //

@mixin absolute-el ($top, $right, $bottom, $left, $x, $y){

        position: absolute;
        top:$top;
        right:$right;
        bottom: $bottom;
        left: $left;
        transform: translate($x,$y)
}

@mixin display ($flex,$flex-direction,$justify-content,$align-items ){

        display: $flex;
        flex-direction: $flex-direction;
        justify-content: $justify-content;
        align-items: $align-items;
}

@mixin wihe ($width, $height){
        width: $width;
        height: $height; 
}

@mixin background ($background-image, $background-size,$background-repeat){
        background-image: $background-image;
        background-size: $background-size;
        background-repeat: $background-repeat;
}