//bouts de code réétulisable sans paramètres ---POUR FAIRE DU CODE DRY---/
//Pour importer : @import './_placeholders';//

exemple

%flex-center{

        display: flex;
        justify-content: center;
        align-items:center; 

}

